<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.system.dao.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aegis.modules.system.model.entity.Dict">
        <id column="dict_id" property="dictId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="remarks" property="remarks" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Dict.dict_id, Dict.name, Dict.code, Dict.enabled, Dict.create_time, Dict.update_time, Dict.create_user_id, Dict.update_user_id, Dict.remarks, Dict.del
    </sql>

    <select id="listNoPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM t_sys_dict Dict
    </select>
    <select id="listWithPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM t_sys_dict Dict
    </select>
</mapper>
