<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.system.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aegis.modules.system.model.entity.User">
        <id column="user_id" property="userId" />
        <result column="tenant_id" property="tenantId" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="real_name" property="realName" />
        <result column="sex" property="sex" />
        <result column="mobile" property="mobile" />
        <result column="certificate" property="certificate" />
        <result column="certificate_type" property="certificateType" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="avatar" property="avatar" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="source" property="source" />
        <result column="area_code_id" property="areaCodeId" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="enabled" property="enabled" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        User.user_id, User.tenant_id, User.uid, User.username, User.password, User.salt, User.real_name, User.sex, User.mobile, User.certificate, User.certificate_type, User.email, User.address, User.avatar, User.open_id, User.union_id, User.source, User.area_code_id, User.create_time, User.create_user_id, User.update_time, User.update_user_id, User.enabled, User.del
    </sql>

    <select id="listNoPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM t_sys_user User
    </select>
    <select id="listWithPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM t_sys_user User
    </select>
</mapper>
